.App {
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: rgba(3, 11, 37, 0.898);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 1rem;
  color: white;
}

.main-body-container{
  background-color: rgb(178, 218, 253); //for testing
  width: 95%;
  margin-left: 2.5%;
  display: block;

  .body-desc{
    background-color: rgba(0, 255, 255, 0.285);
    width: 30%;
    padding: 1%;
    
    h2{
      font-size: 5rem;
      padding-bottom: 0%;
      margin-bottom: 0;
    }
    .para-desc{
      line-height: 40px;
      font-size: medium;
      text-align: right;
    }
  }
}
